---
version: "3.9"
services:
  prometheus:
    image: {{ prometheus_image }}
    ports:
      - {{ prometheus_host_port }}:9090
  grafana:
    image: {{ grafana_image }}
    ports:
      - {{ grafana_host_port }}:3000
