version: "3"

networks:
  loki:

services:
  loki:
    image: {{ loki_image }}
    ports:
      - "{{ loki_host_port }}:3100"
    command: 
      - "-config.file=/etc/loki/local-config-docker.yml"
    volumes:
      - /etc/loki/local-config.yml:/etc/loki/local-config-docker.yml
    networks:
      - loki

  promtail:
    image: {{ promtail_image }}
    volumes:
      - /var/log:/var/log
    command: 
      - "-config.file=/etc/promtail/config-docker.yml"
    volumes:
      - /etc/promtail/config.yml:/etc/promtail/config-docker.yml
    networks:
      - loki
